@tailwind base;
@tailwind components;
@tailwind utilities;

/* .no-scrollbar::-webkit-scrollbar {
  display: none;
} */

.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shining-button {
  position: relative;
  overflow: hidden;
}
.shining-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: rotate(45deg);
  animation: shine 2s infinite;
}
@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(45deg);
  }
  100% {
    transform: translateX(100%) rotate(45deg);
  }
}
